# VS Code
.vscode/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Build
build/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/

# Environment
.env

# IDE
.idea/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Node
node_modules/